/* 去除盒子的设置 */

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

#wrap {
    height: 100%;
    overflow: hidden;
    background: #EEEEEE;
}

.head {
    height: 100px;
    width: 100%;
    position: absolute;
    background: pink;
}

.head.logo {
    margin: 5px;
    width: 100px;
    float: left;
    padding: 26px 17px 21px 17px;
}

.head.BTN {
    float: right;
}

img {
    width: 50px;
    height: auto;
}